 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 40px;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.game-card {
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
}

.game-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.game-card p {
    margin-bottom: 20px;
}

button {
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #ddd;
}

.badge {
    font-size: 0.7em;
    padding: 3px 10px;
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 10px;
}

.popular {
    background-color: #FF5733;
}

.new {
    background-color: #1E90FF;
}

.button-group {
    display: flex;
    gap: 10px;
}

button.small-button {
    background-color: #444444;
    color: #FFFFFF;
    padding: 8px 15px;
    font-size: 0.9em;
}

button.small-button:hover {
    background-color: #555555;
}
